<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Principal</filter-name>
        <filter-class>Filter.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Principal</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CadastrarController</servlet-name>
        <servlet-class>Controller.CadastrarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarController</servlet-name>
        <servlet-class>Controller.ListarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarView</servlet-name>
        <jsp-file>/ListarView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CalculaController</servlet-name>
        <servlet-class>Controller.CalculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarController</servlet-name>
        <servlet-class>Controller.DeletarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarController</servlet-name>
        <servlet-class>Controller.AtualizarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarNotasController</servlet-name>
        <servlet-class>Controller.CadastrarNotasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarNomeController</servlet-name>
        <servlet-class>Controller.AtualizarNomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletErro</servlet-name>
        <servlet-class>Controller.ServletErro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarController</servlet-name>
        <url-pattern>/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarController</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarView</servlet-name>
        <url-pattern>/ListarView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculaController</servlet-name>
        <url-pattern>/Calcula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarController</servlet-name>
        <url-pattern>/Deletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarController</servlet-name>
        <url-pattern>/Atualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarNotasController</servlet-name>
        <url-pattern>/CadastrarNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarNomeController</servlet-name>
        <url-pattern>/AtualizarNome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletErro</servlet-name>
        <url-pattern>/ServletErro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Restrição1</display-name>
        <web-resource-collection>
            <web-resource-name>secured page</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
